nav {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  height: 120px;
  padding: 0 1.5em 1em;
  background-color: #4056A1;
  color: #FFF;
  position: fixed;
  top: 0;
  width: 100%;
 }

 nav span {
  font-family: 'Bungee', sans-serif;
  font-size: 34px;
 }

 nav div.right-content {
   display: flex;
   flex-direction: column;
   align-items: center;
   cursor: pointer;
 }

 #double-down-arrow {
   color: red;
   animation-name: bounce;
   animation-duration: 2s;
   animation-iteration-count: infinite;
 }

@keyframes bounce {
  0% {transform: translateY(0px);}
  50% {transform: translateY(10px);}
  100% {transform: translateY(0px);}
 }